.postDeleteButton {
  align-self: flex-end;
  color: lime;
  border: 1px double lime;
  border-radius: 1px;
  border-width: medium;
  text: bold;
  background-color: black;
  text-shadow: 0 0 10px #FF0000, 0 0 2px black;
}
.postUpdateButton {
  align-self: flex-end;
  color: lime;
  border: 1px double lime;
  border-radius: 1px;
  border-width: medium;
  text: bold;
  background-color: black;
  text-shadow: 0 0 10px blue, 0 0 2px black, 0 0 8px blue;
}

.commentBodyFlexBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 98%;
}

.commentDeleteButton {
  align-self: flex-end;
  color: lime;
  border: 1px inset lime;
  border-radius: 1px;
  border-width: thin;
  text: bold;
  background-color: black;
  text-shadow: 0 0 10px red, 0 0 2px black, 0 0 8px red;
  margin: 1px 3px 1px 0px;
}

.commentUpdateButton {
  align-self: flex-end;
  color: lime;
  border: 1px inset lime;
  border-radius: 1px;
  border-width: thin;
  text: bold;
  background-color: black;
  text-shadow: 0 0 10px blue, 0 0 2px black, 0 0 8px blue;
  margin: 1px 3px 1px 0px;
}

.BlogTitle {
  margin-bottom: 10px;
  width: 30%;
  border-color: lime;
  color: lime;
  background-color: black;
  border-width: thin;
}

.CommentButton::after {
  clear: both;
}

.CommentButton {
    align-self: flex-end;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 1px;
    border-style: double;
    border-color: lime;
    border-width: thin;
    text: bold;
    float: right;
    background-color: black;
    color: lime;
    text-shadow: 0 0 5px white, 0 0 2px black, 0 0 6px white;
}

.NewCommentForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 96%;
}

.NewCommentTextArea {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 96%;
  border-color: lime;
  color: lime;
  background-color: black;
  border-width: thin;
}

.NewCommentFlexBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  color: lime;
  background-color: black;
  border-left: 1px solid lime;
  border-bottom: 1px solid lime;
  border-right: 1px solid lime;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.commentText {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.commentAuthor {
  margin-top: 0px;
  margin-bottom: 0px;
}

.commentAuthorBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  border-bottom: 1px solid lime;
  background-color: black;
  color: lime;
  margin-bottom: 0px;
  width: 100%;
}

.CommentContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  width: 98%;
  border-left: 1px solid lime;
  border-bottom: 1px solid lime;
  border-right: 1px solid lime;
}

.CommentContainer:nth-last-child(2) {
  border-bottom-left-radius: 10px;
}

.PostDate {
  align-self: flex-end;
  margin-bottom: 0px;
  border-top: 1px solid lime;
  border-left: 1px solid lime;
  padding-right: 5px;
  padding-left: 5px;
  border-top-left-radius: 5px;
}

.PostText {
  align-self: center;
  width: 85%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.PostStoryFlexBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.PostTitle {
  align-self: center;
  width: 90%;
  border-bottom: 1px solid lime;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 0px;
  background-color: black;
  color: lime;
}
.Author {
  margin-top: 0px;
  margin-bottom: 0px;
}

.AuthorBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  border-bottom: 1px solid black;
  background-color: lime;
  color: black;
  margin-bottom: 0px;
  width: 100%;
}

.mycontainer {
  background-color: black;
  color: lime;
}
.postsFlexBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 50px;
  border: 1px solid lime;
  border-bottom-left-radius: 10px;
}

.myContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 90%;
}

.blogFormContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.newBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.myJumbotron {
  background-color: #0d0d0d;
  color: #FFFAFA;
  border-radius: 50%;
  border-style: double;
  border-color: lime;
  text-align: center;
  color: lime;
  border-width: thick;
}

.JumbotronText {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  color: lime;
}

.navbar{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  background-color: black;
  border-bottom: 1px solid green;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 1px 1px;
}

ul.navbar-nav:last-child {
  float: right;
}


.Title {
  width: 100%;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  border-bottom: 2px solid lime;
}

.Body {
  margin-bottom: 45px;
}

.ProjectFlexBox {
  display: flex;
  justify-content: space-between;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  width: 100%;
  border-bottom: solid lime;
  padding-left: 2%;
  padding-right: 2%;
  border-width: thin;
}

.ProjectCommits {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  padding-bottom: 5px;
}

.StoryTitle {
  margin-bottom: 20px;
  padding-left: 10px;
}

.StoryBody {
  padding-left: 5%;
  padding-right: 20%;
  padding-top: 8px;
  padding-bottom: 5px;
  text-indent: 20px ;
}

.AboutHeader {
text-align: center;
font-size-adjust: 10em;
text-shadow: 0 0 3px white;
}

a {
  color: lime;
  text-shadow:0 0 2px black;
}

.projectsButton {
  align-self: center;
  border-radius: 1px;
  border-style: double;
  border-color: lime;
  border-width: thin;
  text: bold;
  background-color: black;
  margin-bottom: 2px;
  margin-top: 2px;
}

.repositories {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.blogForm {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 25%;
  border: 1px solid black;
  border-radius: 6px;
  color: lime;
  border-color: lime;
  background-color: black;
}

.blogButton {
  align-self: flex-end;
  margin-top: 5px;
  margin-bottom: 10px;
  color: lime;
  border-radius: 1px;
  border-style: double;
  border-color: lime;
  border-width: thin;
  text: bold;
  background-color: black;
  text-shadow: 0 0 10px white, 0 0 2px black, 0 0 8px white;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignupForm {
  width: 33%;
}

.SignupInput {
  color: lime;
  background-color: black;
  border: 1px solid lime;
  border-radius: 6px;
}

.SignupButton {
  border-radius: 1px;
  border-style: double;
  border-color: lime;
  border-width: medium;
  text: bold;
  /*float: right;*/
  background-color: black;
  /*margin-right: 600px;*/
  text-shadow: 0 0 10px lime, 0 0 2px black, 0 0 8px lime;
}

.myAboutContainer {
  margin-left: 20px;
  padding-top: 0px;
}

.mytextarea {
  width: 100%;
  color: lime;
  border-color: lime;
  background-color: black;
  border-radius: 5px;
}

.infoComponent {
  margin-bottom: 100px;
}

.HomeBody {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 5px;
  text-indent: 15px ;
  display: inline-block;
  margin-right: 200px;
  margin-left: 40px;
  margin-top: 50px;
}

.UpdatePostButton {
  border-radius: 1px;
  border-style: double;
  border-color: lime;
  border-width: medium;
  text: bold;
  float: right;
  color: lime;
  background-color: black;
  margin-right: 237px;
  text-shadow: 0 0 10px lime, 0 0 2px black, 0 0 8px lime;
}
