.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.myJumbotron {
  background-color: #0d0d0d;
  color: #FFFAFA;
  border-radius: 50%;
  border-style: double;
  border-color: white;
  text-align: center;
}

.JumbotronText {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.navbar{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  background-color: black;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 1px 1px;
}

ul.navbar-nav:last-child {
  float: right;
}


.Title {
  width: 100%;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  border-bottom: 2px solid black;
  width: 100%;
}

.Body {
  margin-bottom: 45px;
}

.ProjectsTitle {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  width: 100%;
  border-bottom: solid black;
  border-width: thin;
}

.ProjectCommits {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  padding-bottom: 5px;
}

.StoryTitle {
  margin-bottom: 20px;
  padding-left: 10px;
}

.StoryBody {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 5px;
  border: 1px solid black;
  border-style: silver;
  border-radius: 50px;
  text-indent: 15px ;
  display: inline-block;
  margin-right: 600px;
  margin-left: 50px;
}

.AboutHeader {
text-align: center;
font-size-adjust: 10em;
text-shadow: 0 0 3px white;
}

a {
  color: black;
  text-shadow: 0 0 10px white, 0 0 2px white, 0 0 8px white;
}

.projectsButton {
  border-radius: 1px;
  border-style: double;
  border-color: black;
  border-width: thin;
  margin-right: 100px;
  text: bold;
  display: inline-block;
  float: right;
  background-color: #c3c6cc;
  margin-bottom: 2px;
  margin-top: 2px;

}

.repositories {
  margin-left: 50px;
}

.blogForm {
  border: 1px solid black;
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 6px;
}

.blogButton {
  border-radius: 1px;
  border-style: double;
  border-color: black;
  border-width: medium;
  text: bold;
  float: right;
  background-color: #c3c6cc;
  margin-right: 90px;
  text-shadow: 0 0 10px white, 0 0 2px black, 0 0 8px white;
}

.SignupForm {
  border: 1px solid black;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 6px;
}

.SignupButton {
  border-radius: 1px;
  border-style: double;
  border-color: black;
  border-width: medium;
  text: bold;
  float: right;
  background-color: #c3c6cc;
  margin-right: 600px;
  text-shadow: 0 0 10px white, 0 0 2px black, 0 0 8px white;
}

.Author {
  margin-top: 0px;
  border-bottom: 1px solid black;
  background-color: blue;
  color: white;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.PostTitle {
  margin-left: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 20px;
  background-color: lightblue;
}

.PostText {
  margin-left: 50px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-right: 20px;

}

.PostDate::after {
  clear: both;
}

.PostDate {
  float: right;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 0px;
  border-top-left-radius: 5px;
}

.myContainer {
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 70px;
  margin-right: 40px;
  padding-top: 0px;
  border-bottom-left-radius: 10px;
}

.commentAuthor {
  margin-top: 0px;
  border-bottom: 1px solid black;
  background-color: blue;
  color: white;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 10px;
}

.CommentContainer {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 30px;
  margin-right: 40px;
}

.postDeleteButton {
  float: right;
  border: 1px outset black;
  margin-right: 3px;
  border-radius: 1px;
  border-color: white;
  border-width: medium;
  text: bold;
  background-color: red;
  text-shadow: 0 0 10px white, 0 0 2px black, 0 0 8px white;

}
.postUpdateButton {
  float: right;
  border: 1px outset black;
  margin-right: 1px;
  border-radius: 1px;
  border-color: white;
  border-width: medium;
  text: bold;
  background-color: blue;
  text-shadow: 0 0 10px white, 0 0 2px black, 0 0 8px white;
  max-height: 75%;
}
